@import './theme.scss';
@import './../components/elements/navbar/navbar.scss';

.hoverCustom {
  transition: all .25s ease;
  padding: 10px 20px;
  &:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 8px 25px 0 rgba(0,0,0,0.2);
    box-shadow: 0 8px 25px 0 rgba(0,0,0,0.2);
  }
  &:active {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 8px 25px 0 rgba(0,0,0,0.1);
    box-shadow: 0 8px 25px 0 rgba(0,0,0,0.1);
  }
}
