.navbar {
  transition: 0.25s ease-out !important;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
}
.colorNav {
  transition: 0.25s ease-out !important;
  background-color: #000000 !important
}